 * {
    box-sizing: border-box;
  }
@font-face {
  font-family: 'PixelDigivolve';
  src: url('fonts/Pixel Digivolve.otf');
  font-size: 20px;
}
  body {
    background-color: #f4d7a4;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .card {
    position: relative;
    width: 600px;
    height: 400px;
    background-image: url('stardew-template.jpg'); 
    background-size: cover;
    background-position: center;
    border: 4px solid #d29a5a;
    border-radius: 8px;
    margin: 30px auto;
  }

 
  .photo {
    position: absolute;
    top: 40px;     
    left: 40px;     
    width: 120px;  
    height: 120px;
    border: 4px solid #d29a5a;
    border-radius: 6px;
    overflow: hidden;
    background: #eee;
  }

  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .name {
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 14px;
    color: #6b3e1d;
  }

  .bio {
    font-family: 'PixelDigivolve', cursive;
    position: absolute;
    top: 80px;
    left: 200px;
    width: 300px;
    font-size: 10px;
    color: #000000;
    line-height: 1.4;
  }

  .birthday {
    position: absolute;
    bottom: 50px;
    left: 100px;
    font-size: 12px;
    color: #7a4220;
  }